<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <futurepay_futurepay>
            <version>2.0.0</version>
        </futurepay_futurepay>
    </modules>
    
    <frontend>
        <routers>
            <futurepay>
                <use>standard</use>
                <args>
                    <module>FuturePay_FuturePay</module>
                    <frontName>futurepay</frontName>
                </args>
            </futurepay>
        </routers>
        <layout>
            <updates>
                <futurepay>
                    <file>futurepay.xml</file>
                </futurepay>
            </updates>
        </layout>
    </frontend>  
    
    <global>
        <models>
            <futurepay>
                <class>FuturePay_FuturePay_Model</class>
            </futurepay>
        </models>
        <blocks>
            <futurepay>
                <class>FuturePay_FuturePay_Block</class>
            </futurepay>
        </blocks>
        <helpers>
            <futurepay>
                <class>FuturePay_FuturePay_Helper</class>
            </futurepay>
        </helpers>
        <resources>
            <futurepay_setup>
                <setup>
                    <module>FuturePay_FuturePay</module>
                    <class>FuturePay_FuturePay_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </futurepay_setup>
            <futurepay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </futurepay_write>
            <futurepay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </futurepay_read>
        </resources>
    </global>
    <default>
        <payment>
            <futurepay>
                <active>1</active>
                <model>futurepay/method_futurepay</model>
                <checkout_url>https://api.futurepay.com/remote/merchant-request-order-token</checkout_url>
                <cart_integration>https://api.futurepay.com/remote/cart-integration/</cart_integration>
                <order_verification_url>https://api.futurepay.com/remote/merchant-order-verification?</order_verification_url>
                <pmid>33525d80d1e7a2d04e6adf9950619d297cff5c36FPM674662647</pmid>
                <sandbox_checkout_url>https://sandbox.futurepay.com/remote/merchant-request-order-token</sandbox_checkout_url>
                <sandbox_cart_integration>https://sandbox.futurepay.com/remote/cart-integration/</sandbox_cart_integration>
                <sandbox_order_verification_url>https://sandbox.futurepay.com/remote/merchant-order-verification?</sandbox_order_verification_url>
                <order_status>pending</order_status>
                <title>Buy Now and Pay Later with FuturePay</title>
                <allowspecific>0</allowspecific>
                <auto_invoice>1</auto_invoice>
            </futurepay>
        </payment>
    </default>
    <crontab>
        <jobs>
            <futurepay_check_transaction_status>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run><model>futurepay/observer::checkTransactionStatus</model></run>
            </futurepay_check_transaction_status>
        </jobs>
    </crontab>
</config>
